.header{
    width:100%;
    text-align: center;
    color:white;
    background-color: navy;
    padding-top:50px;
    height:150px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.search{
    font-size: 30px;
    margin-top: 1%;
    margin-left: 1%;
}
#searchByTerm{
    font-size: 25px;
    margin-bottom: 1%;
    margin-left: 1%;
}
#numberOfRecords{
    font-size: 25px;
    margin-bottom: 1%;
    margin-left:1%;
}
#startYear{
    font-size: 25px;
    margin-bottom: 1%;
    margin-left: 1%;
}
#endYear{
    font-size: 25px;
    margin-bottom: 1%;
    margin-left: 1%;
}
#searchButton{
    margin-left: 1%;
}
#clearButton{
    margin-left: 1%;
}
#articlesView{
    background-color: rgb(109, 108, 108);
}
